<body style="color: #FFFFFF">
<img class="logo" src="assets/img/logo.png">
<div class="container-social">
  <ul>
    <li><a target="blank" href="http://api.whatsapp.com/send/?phone=5582996133588">
      <fa-icon class="icones" [icon]="faWhatsapp"></fa-icon>
    </a></li>
    <li><a target="blank" href="https://www.instagram.com/adaracesar/">
      <fa-icon class="icones" [icon]="faInstagram"></fa-icon>
    </a></li>
    <li><a target="blank" href="https://www.linkedin.com/in/adara-cesar/">
      <fa-icon class="icones" [icon]="faLinkedinIn"></fa-icon>
    </a></li>
  </ul>
</div>
</body>


